.item {
  * {
    box-sizing: border-box;
  }
  position: relative;
  border-radius: 6px;
  width: 150px;
  max-width: 150px;
  padding: 15px 10px;
  img {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 6px;
    &:before {
      content: 'OR';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      padding: 0px 10px;
    }
    &:hover {
      transform: scale(1.1);
      transition: all 1s ease-in-out 0s;
    }
    &:not(:hover) {
      transition: all 1s ease-in-out 0s;
    }
  }
}
